/* HomePage Component Styles */

.container {
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.buttonGrid {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.buttonGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

